<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbt.business.mapper.BusinessCropProjectInfoMapper">
	<resultMap type="BusinessCropProjectInfo" id="businessCropProjectInfomap">
		<result property="id" column="id"/>
		<result property="workerId" column="workId"/>
		<result property="project_btCode" column="project_btCode"/>
	</resultMap>
	<!-- 通过项目id查询一条数据 -->
	<select id="getBusinessCropProjectInfo" parameterType="BusinessCropProjectInfo" resultMap="businessCropProjectInfomap">
		select * from business_crop_projectinfo where workid=#{workerId}
	</select>
	
	<!-- 查询所有数据 -->
	<select id="getAllBusinessCropProjectInfo" resultMap="businessCropProjectInfomap">
		select * from business_crop_projectinfo 
	</select>
	
	 <!-- 插入一条数据,当resultMap将数据库的字段重命名之后，在#{}取值是要使用新名字 -->
	<insert id="addBusinessCropProjectInfo" parameterType="BusinessCropProjectInfo">
		insert into business_crop_projectinfo
		(
			id,workId,project_btCode
		)
		values
		(
			#{id},#{workerId},#{project_btCode}
		)
	</insert>
	
	<!--通过项目id删除一条数据  -->
	<delete id="delBusinessCropProjectInfo" parameterType="BusinessCropProjectInfo">
		delete from business_crop_projectinfo  where id=#{id}
	</delete>
	
</mapper>