<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbt.business.mapper.BusinessProjectPlanInfoMapper">
	<resultMap type="com.cbt.business.po.BusinessProjectPlanInfo" id="BusinessProjectPlanInfoMap">
	<id column="id" property="id"/>
	<result column="planId" property="planId"/>
	<result column="planName" property="planName"/>
	<result column="productPicture" property="productPicture"/>
	<result column="cropCode" property="cropCode"/>
	<result column="productName" property="productName"/>
	<result column="businessId" property="businessId"/>
	<result column="year" property="year"/>
	<result column="project_btCode" property="project_btCode"/>
	<result column="growerNum" property="growerNum"/>
	<result column="checkedNum" property="checkedNum"/>
	<result column="packingClerkNum" property="packingClerkNum"/>
	<result column="logiticsNum" property="logiticsNum"/>
	<result column="projectDesc" property="projectDesc"/>
	</resultMap>
	
	
	
	<update id="insertProductPictureByProject_btCode" parameterType="Map">
		update business_project_planinfo
		set productPicture = #{productPicture}
		<where>
		 project_btCode = #{project_btCode}
		</where>
		
	</update>
	
	<insert id="addBusinessProjectPlan" parameterType="com.cbt.business.po.BusinessProjectPlanInfo">
		insert into business_project_planinfo
		(
			planId,planName,productPicture,cropCode,productName,businessId,year,project_btCode,
			growerNum,checkedNum,packingClerkNum,logiticsNum,projectDesc
		)
		values
		(
			#{planId},#{planName},#{productPicture},#{cropCode},#{productName},#{businessId},#{year},
			#{project_btCode},#{growerNum},#{checkedNum},#{packingClerkNum},#{logiticsNum},#{projectDesc}
		)
	</insert>
	 	 <!-- 分页 -->
 	<select id="getPageBusinessProjectPlans" parameterType="Map" resultMap="BusinessProjectPlanInfoMap">
  		select * from business_project_planinfo
  		<where>
  			 businessId = #{businessId} 
  			 <if test="searchKey != '' and searchKey != null ">
  			 and ( 
  				 planName like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	 productPicture like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	 productName like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	  cropCode like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	  year like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	  project_btCode like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	  growerNum like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	 projectDesc like CONCAT('%', #{searchKey},'%')
  			 )
  			 </if> 
  		</where>
  		<!-- ,`businessId`,`year`,`project_btCode`
  			  ,`growerNum`,`checkedNum`,`packingClerkNum`,`logiticsNum`,`projectDesc` -->
  		limit #{startrow},#{rows}	
 	</select>
 	<!-- 获取记录数量 -->
  	<select id="getBusinessProjectPlansCount" parameterType="Map" resultType="int">
 		 select count(*) from business_project_planinfo 
 		 <where>
  			 businessId = #{businessId}
  			 <if test="searchKey != '' and searchKey != null ">
  			  and ( 
  				  planName like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	 productPicture like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	 productName like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	  cropCode like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	  year like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	  project_btCode like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	  growerNum like CONCAT('%', #{searchKey},'%')
  			 	 or 
  			 	 projectDesc like CONCAT('%', #{searchKey},'%')
  			 )
  			 </if> 
  		</where>
 	</select>
 	
 	<!-- 修改数据 -->
 	<update id="updateBusinessProjectPlan" parameterType="com.cbt.business.po.BusinessProjectPlanInfo" >
    	update business_project_planinfo set planName = #{planName} where planId = #{planId}
 	</update>
 	
 		<!--删除一条数据  -->
	<delete id="delBusinessProjectPlan" parameterType="com.cbt.business.po.BusinessProjectPlanInfo" >
    	delete from business_project_planinfo
   		where project_btCode = #{project_btCode}
    </delete>
    
    <select id="getProjectInfos" parameterType="java.lang.String" resultMap="BusinessProjectPlanInfoMap">
  		select * from business_project_planinfo where businessId = #{value}
  	</select>

</mapper>