<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbt.business.mapper.CheckInRecordInfoMapper">
  <resultMap id="checkinrecordinfomap" type="com.cbt.business.po.CheckInRecordInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pickSeg_btCode" jdbcType="VARCHAR" property="picksegBtcode" />
    <result column="checkInTime" jdbcType="DATE" property="checkintime" />
    <result column="checkInSeg_btCode" jdbcType="VARCHAR" property="checkinsegBtcode" />
    <result column="stockLocation" jdbcType="VARCHAR" property="stocklocation" />
    <result column="fertilizerNum" jdbcType="INTEGER" property="fertilizernum" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="checker" jdbcType="VARCHAR" property="checker" />
  </resultMap>
  <!--根据checkInSeg_btCode 查询一条入库表单的数据  -->
  <select id="getCheckInRecordInfo" parameterType="com.cbt.business.po.CheckInRecordInfo" resultMap="checkinrecordinfomap">
  	select  * from  checkInrecord where  checkInSeg_btCode=#{checkinsegBtcode}
  </select>
  
  <!--查询所有入库表单的数据  -->
   <select id="getAllCheckInRecordInfo" resultMap="checkinrecordinfomap">
  	select  * from  checkInrecord 
  </select>
  
  <!-- 插入一条入库表单的数据 -->
  <insert id="addCheckInRecordInfo" parameterType="com.cbt.business.po.CheckInRecordInfo">
  	insert into checkInrecord
  	(id,pickSeg_btCode,checkInTime,checkInSeg_btCode,stockLocation,fertilizerNum,comment,checker)
  	values
  	(#{id},#{picksegBtcode},#{checkintime},#{checkinsegBtcode},#{stocklocation},#{fertilizernum},#{comment},#{checker})
  </insert>
  
  
  <!--根据checkInSeg_btCode 删除一条数据  -->
  <delete id="delCheckInRecordInfo" parameterType="com.cbt.business.po.CheckInRecordInfo" >
   	delete from checkInrecord where checkInSeg_btCode=#{checkinsegBtcode}
  </delete>
  
  <!-- 溯源信息查询之，质检入库记录 -->
  <select id="queryCheckInByBtCode" parameterType="String" resultMap="checkinrecordinfomap">
  select * from cropBacktracking.CheckInRecord
  where checkInSeg_btCode=#{checkInSeg_btCode}
  </select>
  
  <!-- 分页查询 -->
  <select id="getCheckInRecordByPagination" parameterType="Map" resultMap="checkinrecordinfomap">
  select * from cropBacktracking.checkinRecord
  where pickSeg_btCode like '%${projectBtcode}%' order by id
  limit #{startpage},#{rows}
  </select>
  
  <!-- 更新数据 -->
  <update id="updateCheckInRecord" parameterType="com.cbt.business.po.CheckInRecordInfo">
  update cropBacktracking.checkinRecord
  <set>
  <if test="picksegBtcode!=null">
  pickSeg_btCode=#{picksegBtcode}
  </if>
  <if test="chechintime!=null">
  checkInTime=#{checkintime}
  </if>
  <if test="checkInSegBtcode!=null">
  checkInSeg_btCode=#{checkinsegBtcode}
  </if>
  <if test="stocklocation!=null">
  stockLocation=#{stocklocation}
  </if>
  <if test="comment!=null">
  comment=#{comment}
  </if>
  <if test="checker!=null">
  checker=#{checker}
  </if>
  </set>
  where id=#{id}
  </update>
  
  <!-- get total count -->
  <select id="getPaginationCount" parameterType="Map" resultType="Integer">
  select count(*) from cropBacktracking.checkinRecord
  where pickSeg_btCode like '%${projectBtcode}%' order by id
  limit #{startpage},#{rows}
  </select>
  
  
</mapper>