<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cbt.business.mapper.ConfirmRecipientRecordInfoMapper" >
  <resultMap id="confirmrecipientrecordinfomap" type="com.cbt.business.po.ConfirmRecipientRecordInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="recipientTime" property="recipienttime" jdbcType="DATE" />
    <result column="orderNum" property="ordernum" jdbcType="VARCHAR" />
    <result column="logisticsNum" property="logisticsnum" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="distributor" property="distributor" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 根据 orderNum 查找一条数据 -->
  <select id="getConfirmRecipientRecordInfo" parameterType="com.cbt.business.po.ConfirmRecipientRecordInfo" resultMap="confirmrecipientrecordinfomap">
  	select * from confirmrecipientrecord where orderNum=#{ordernum}
  </select>
  
  <!--查询所有数据  -->
  <select id="getAllConfirmRecipientRecordInfo" resultMap="confirmrecipientrecordinfomap">
  	select * from confirmrecipientrecord 
  </select>
  
  <!--增加一条数据  -->
  <insert id="addConfirmRecipientRecordInfo" parameterType="com.cbt.business.po.ConfirmRecipientRecordInfo">
  	insert into confirmrecipientrecord
  	(id,recipientTime,orderNum,logisticsNum,comment,distributor)
  	values
  	(#{id},#{recipienttime},#{ordernum},#{logisticsnum},#{comment},#{distributor})
  </insert>
  
  <!--根据orderNum删除一条数据  -->
  	<delete id="delConfirmRecipientRecordInfo"  parameterType="com.cbt.business.po.ConfirmRecipientRecordInfo">
  	delete from confirmrecipientrecord where orderNum=#{ordernum}
  	</delete>
  	
  	<!-- 溯源信息查询之，确认收货信息 -->
  	<select id="queryConfirmByOrderNum" parameterType="String" resultMap="confirmrecipientrecordinfomap">
  	select * from cropBacktracking.confirmRecipientRecord
  	where orderNum=#{orderNum}
  	</select>
  	
  	<!-- 分页查询 -->
  	<select id="getConfirmRecipientRecords" parameterType="Map" resultMap="confirmrecipientrecordinfomap">
  	select * from cropBacktracking.confirmRecipientRecord
  	where distributor=#{distributor} order by id
  	limit #{startpage},#{rows}
  	</select>
  	<!-- 分页查询的条数 -->
  	<select id="getConfirmRecipientRecordsCount" parameterType="Map" resultType="Integer">
  	select count(*) from cropBacktracking.confirmRecipientRecord
  	where distributor=#{distributor} order by id
  	limit #{startpage},#{rows}
  	</select>
  	
  	<!-- 更新数据 -->
  	<update id="updateConfirmRecipientRecord" parameterType="com.cbt.business.po.ConfirmRecipientRecordInfo">
  	update cropBacktracking.confirmRecipientRecord
  	<set>
  	<if test="ordernum!=null">
  	ordernum=#{ordernum}
  	</if>
  	<if test="receipienttime!=null">
  	receipienttime=#{receipienttime}
  	</if>
  	<if test="logisticsNum!=null">
  	logisticsNum=#{logisticsNum}
  	</if>
  	<if test="distributor!=null">
  	distributor=#{distributor}
  	</if>
  	<if test="comment!=null">
  	comment=#{comment}
  	</if>
  	</set>
  	where id=#{id}
  	</update>
  	
  	<!-- 通过distributor查找出orderNum -->
  	<select id="queryByDistributor" parameterType="String" resultMap="confirmrecipientrecordinfomap">
  	select * from cropBacktracking.confirmRecipientRecord
  	where distributor=#{distributor}
  	</select>
  	
  	
</mapper>