<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbt.business.mapper.CopackRecordInfoMapper">
  <resultMap id="copackrecordinfomap" type="com.cbt.business.po.CopackRecordInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="checkInSeg_btCode" jdbcType="VARCHAR" property="checkinsegBtcode" />
    <result column="copackTime" jdbcType="DATE" property="copacktime" />
    <result column="product_QRCodePicture" jdbcType="VARCHAR" property="productQrcodepicture" />
    <result column="orderNum" jdbcType="VARCHAR" property="ordernum" />
    <result column="product_btCode" jdbcType="VARCHAR" property="productBtcode" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="copacker" jdbcType="VARCHAR" property="copacker" />
    <result column="copackLocation" jdbcType="VARCHAR" property="copacklocation" />
    <result column="produceDate" jdbcType="DATE" property="producedate" />
    <result column="produceLocation" jdbcType="VARCHAR" property="producelocation" />
    <result column="specifications" jdbcType="VARCHAR" property="specifications" />
    <result column="netContent" jdbcType="VARCHAR" property="netcontent" />
    <result column="storageCondition" jdbcType="VARCHAR" property="storagecondition" />
  </resultMap>
  <!--根据id查询一条数据  -->
  <select id="getCopackRecordInfo" parameterType="com.cbt.business.po.CopackRecordInfo"  resultMap="copackrecordinfomap">
  	select * from copackrecord where id=#{id}
  </select>
  
  <!--查询所有数据  -->
  <select id="getAllCopackRecordInfo" resultMap="copackrecordinfomap" >
  	select * from copackrecord 
  </select>
   
   <!--插入一条数据  -->
   <insert id="addCopackRecordInfo"  parameterType="com.cbt.business.po.CopackRecordInfo">
   	insert into copackrecord
   	(
   		id,checkInSeg_btCode,copackTime,product_QRCodePicture,orderNum,product_btCode,comment,copacker,
   		copackLocation,produceDate,produceLocation,specifications,netContent,storageCondition
   	)
   	values
   	(
   		 #{id},#{checkinsegBtcode},#{copacktime},#{productQrcodepicture},#{ordernum},#{productBtcode},#{comment},#{copacker},
   		 #{copacklocation},#{producedate},#{producelocation},#{specifications},#{netcontent},#{storagecondition}
   	)
   </insert>
  
  
  <!--根据id删除一条数据 -->
  <delete id="delCopackRecordInfo" parameterType="com.cbt.business.po.CopackRecordInfo">
  	delete from  copackrecord where id=#{id}
  </delete>
  
  <!-- 溯源信息查询之，包装信息记录 -->
  <select id="queryCopackByBtCode" parameterType="String" resultMap="copackrecordinfomap">
  select * from cropBacktracking.copackRecord
  where product_btCode=#{product_btCode}
  </select>
  
  <!-- 查询出订单号 -->
  <select id="queryOrderNumByBtCode" parameterType="String" resultType="java.lang.String">
  select orderNum from cropBacktracking.copackRecord
  where product_btCode=#{product_btCode}
  </select>
  
  <!-- 分页查询 -->
  <select id="getCopackRecords" parameterType="Map" resultMap="copackrecordinfomap">
  select * from cropBacktracking.copackRecord
  where checkInSeg_btCode like '%${projectBtcode}%' order by id
  limit #{startpage},#{rows}
  </select>
  
   <!-- 分页查询数据数量 -->
     <select id="getCopackRecordsCount" parameterType="Map" resultType="Integer">
  select count(*) from cropBacktracking.copackRecord
  where checkInSeg_btCode like '%${projectBtcode}%' order by id
  limit #{startpage},#{rows}
  </select>
  
  <!-- 更新数据 -->
  <update id="updateCopackRecord" parameterType="com.cbt.business.po.CopackRecordInfo">
  update cropBacktracking.copackRecord
  <set>
  <if test="checkinsegBtcode!=null">
  checkInSeg_btCode=#{checkinsegBtcode}
  </if>
  <if test="copacktime!=null">
  copacktime=#{copacktime}
  </if>
  <if test="ordernum!=null">
  ordernum=#{ordernum}
  </if>
  <if test="copacklocation!=null">
  copacklocation=#{copacklocation}
  </if>
  <if test="productBtcode!=null">
  productBtcode=#{productBtcode}
  </if>
  <if test="copacker!=null">
  copacker=#{copacker}
  </if>
  <if test="producedate!=null">
  producedate=#{producedate}
  </if>
  <if test="producelocation!=null">
  producelocation=#{producelocation}
  </if>
  <if test="specifications!=null">
  specifications=#{specifications}
  </if>
  <if test="netcontent!=null">
  netcontent=#{netcontent}
  </if>
  <if test="storagecondition!=null">
  storagecondition=#{storagecondition}
  </if>
  <if test="comment!=null">
  comment=#{comment}
  </if>
  </set>
  where id=#{id}
 
  </update>
 
  
  
  
  
  
</mapper>