<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cbt.business.mapper.DeliverRecordInfoMapper" >
  <resultMap id="deliverrecordinfomap" type="com.cbt.business.po.DeliverRecordInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deliverTime" property="delivertime" jdbcType="DATE" />
    <result column="deliverAddress" property="deliveraddress" jdbcType="VARCHAR" />
    <result column="logisticsCompany" property="logisticscompany" jdbcType="VARCHAR" />
    <result column="orderNum" property="ordernum" jdbcType="VARCHAR" />
    <result column="logisticsNum" property="logisticsnum" jdbcType="VARCHAR" />
    <result column="distributor" property="distributor" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="logistics" property="logistics" jdbcType="VARCHAR" />
  </resultMap>
  
   <!--根据orderNum查询一条数据  -->
  <select id="getDeliverRecordInfo" parameterType="com.cbt.business.po.DeliverRecordInfo" resultMap="deliverrecordinfomap">
  	select * from deliverrecord where orderNum=#{ordernum}
  </select>
  
  <!--查询所有数据  -->
  <select id="getAllDeliverRecordInfo" resultMap="deliverrecordinfomap" >
  	select * from deliverrecord
  </select>
   
   <!--插入一条数据  -->
   <insert id="addDeliverRecordInfo"  parameterType="com.cbt.business.po.DeliverRecordInfo">
   	insert into  deliverrecord
   	(id,deliverTime,deliverAddress,logisticsCompany,orderNum,logisticsNum,distributor,comment,logistics)
   	values
   	(#{id},#{delivertime},#{deliveraddress},#{logisticscompany},#{ordernum},#{logisticsnum},#{distributor},#{comment},#{logistics})
   </insert>
  
  <!--根据orderNum删除一条数据 -->
  <delete id="delDeliverRecordInfo" parameterType="com.cbt.business.po.DeliverRecordInfo">
  	delete from  deliverrecord where orderNum=#{ordernum}
  </delete>
  
  <!-- 溯源信息之，通过订单号查询出物流信息 -->
  <select id="queryDeliverByOrderNum" parameterType="String" resultMap="deliverrecordinfomap">
  select * from deliverRecord
  where orderNum=#{orderNum}
  </select>
  
  <!-- 分页查询记录 -->
  <select id="getDeliverRecords" parameterType="Map" resultMap="deliverrecordinfomap">
  select * from deliverRecord
  where logistics=#{logistics} 
  <if test="searchKey!=null and searchKey!=''">
  and (
  orderNum like '%${searchKey}%' or
  delivertime like '%${searchKey}%' or
  deliveraddress like '%${searchKey}%' or
  logisticscompany like '%${searchKey}%' or
  logisticsnum like '%${searchKey}%' or
  distributor  like '%${searchKey}%' or
  comment like '%${searchKey}%' or
  logistics like '%${searchKey}%'
  )
  </if>
  order by id
  limit #{startpage},#{rows}
  </select>
  
  <select id="getDeliverRecordsCount" parameterType="Map"  resultType="Integer">
  select count(*) from deliverRecord
  where logistics=#{logistics} 
  <if test="searchKey!=null and searchKey!=''">
  and (
  orderNum like '%${searchKey}%' or
  delivertime like '%${searchKey}%' or
  deliveraddress like '%${searchKey}%' or
  logisticscompany like '%${searchKey}%' or
  logisticsnum like '%${searchKey}%' or
  distributor  like '%${searchKey}%' or
  comment like '%${searchKey}%' or
  logistics like '%${searchKey}%'
  )
  </if>
  order by id
  </select>
  
  <!-- 修改数据 -->
  <update id="updateDeliverRecord" parameterType="com.cbt.business.po.DeliverRecordInfo">
  update deliverRecord
  <set>
  <if test="oedernum!=null">
  orderNum=#{ordernum}
  </if>
  <if test="delivertime!=null">
  delivertime=#{delivertime}
  </if>
  <if test="deliveraddress!=null">
  deliveraddress=#{deliveraddress}
  </if>
  <if test="logisticscompany!=null">
  logisticscompany=#{logisticscompany}
  </if>
  <if test="logisticsnum!=null">
  logisticsnum=#{logisticsnum}
  </if>
  <if test="distributor!=null">
  distributor=#{distributor}
  </if>
  <if test="comment!=null">
  comment=#{comment}
  </if>
  <if test="logistics!=null">
  logistics=#{logistics}
  </if>
  </set>
  where id=#{id}
  </update>
  
  <!-- 通过物流负责人账号查找 -->
  <select id="queryByLogistics" parameterType="String" resultMap="deliverrecordinfomap">
  select * from deliverRecord
  where logistics=#{logistics}
  </select>
  
  
  
  
</mapper>