<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cbt.business.mapper.DeliverRecordInfoMapper" >
  <resultMap id="deliverrecordinfomap" type="com.cbt.business.po.DeliverRecordInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="deliverTime" property="delivertime" jdbcType="DATE" />
    <result column="deliverAddress" property="deliveraddress" jdbcType="VARCHAR" />
    <result column="logisticsCompany" property="logisticscompany" jdbcType="VARCHAR" />
    <result column="orderNum" property="ordernum" jdbcType="VARCHAR" />
    <result column="logisticsNum" property="logisticsnum" jdbcType="VARCHAR" />
    <result column="distributor" property="distributor" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="logistics" property="logistics" jdbcType="VARCHAR" />
  </resultMap>
  
   <!--根据orderNum查询一条数据  -->
  <select id="getDeliverRecordInfo" parameterType="com.cbt.business.po.DeliverRecordInfo" resultMap="deliverrecordinfomap">
  	select * from deliverrecord where orderNum=#{ordernum}
  </select>
  
  <!--查询所有数据  -->
  <select id="getAllDeliverRecordInfo" resultMap="deliverrecordinfomap" >
  	select * from deliverrecord
  </select>
   
   <!--插入一条数据  -->
   <insert id="addDeliverRecordInfo"  parameterType="com.cbt.business.po.DeliverRecordInfo">
   	insert into  deliverrecord
   	(id,deliverTime,deliverAddress,logisticsCompany,orderNum,logisticsNum,distributor,comment,logistics)
   	values
   	(#{id},#{delivertime},#{deliveraddress},#{logisticscompany},#{ordernum},#{logisticsnum},#{distributor},#{comment},#{logistics})
   </insert>
  
  <!--根据orderNum删除一条数据 -->
  <delete id="delDeliverRecordInfo" parameterType="com.cbt.business.po.DeliverRecordInfo">
  	delete from  deliverrecord where orderNum=#{ordernum}
  </delete>
  
</mapper>