<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbt.business.mapper.PickRecordInfoMapper">
  <resultMap id="pickrecordinfomap" type="com.cbt.business.po.PickRecordInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sowSeg_btCode" jdbcType="VARCHAR" property="sowsegBtcode" />
    <result column="pickTime" jdbcType="DATE" property="picktime" />
    <result column="pickType" jdbcType="INTEGER" property="picktype" />
    <result column="pickNum" jdbcType="INTEGER" property="picknum" />
    <result column="pickSeg_btCode" jdbcType="VARCHAR" property="picksegBtcode" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="grower" jdbcType="VARCHAR" property="grower" />
  </resultMap>
  
  <!--根据id查询一条数据  -->
  <select id="getPickRecordInfo" parameterType="com.cbt.business.po.PickRecordInfo" resultMap="pickrecordinfomap">
  	select * from pickrecord where id=#{id}
  </select>
  
   <!--查询所有数据  -->
  <select id="getAllPickRecordInfo" resultMap="pickrecordinfomap" >
  	select * from  pickrecord
  </select>
   
   <!--插入一条数据  -->
   <insert id="addPickRecordInfo"  parameterType="com.cbt.business.po.PickRecordInfo">
   	insert into pickrecord
   	(id,sowSeg_btCode,pickTime,pickType,pickNum,pickSeg_btCode,comment,grower)
   	values
   	(#{id},#{sowsegBtcode},#{picktime},#{picktype},#{picknum},#{picksegBtcode},#{comment},#{grower})
   </insert>
  
  <!--根据id删除一条数据 -->
  <delete id="delPickRecordInfo" parameterType="com.cbt.business.po.PickRecordInfo">
  	delete from   pickrecord where  id=#{id}
  </delete>
  
  <!-- 溯源信息查询之，采摘记录 -->
  <select id="queryPickByBtCode" parameterType="String" resultMap="pickrecordinfomap">
  select * from cropBacktracking.pickRecord
  where pickSeg_btCode=#{pickSeg_btCode}
  </select>
  
  <!-- 修改数据 -->
  <update id="updatePickRecord" parameterType="com.cbt.business.po.PickRecordInfo">
  UPDATE cropBacktracking.pickRecordInfo
  <set>
  <if test="pickTime!=null">
  pickTime=#{picktime}
  </if>
  <if test="pickType!=null">
  pickType=#{picktype}
  </if>
  <if test="pickNum!=null">
  pickNum=#{picknum}
  </if>
  <if test="pickSeg_btCode!=null">
  pickSeg_btCode=#{picksegBtcode}
  </if>
  <if test="comment!=null">
  comment=#{comment}
  </if>
  <if test="grower!=null">
  grower=#{grower}
  </if>
  <if test="sowsegBtcode!=null">
  sowSeg_btCode=#{sowsegBtcode}
  </if>
  </set>
    where  id=#{id}
  </update>
  
  <!-- 分页查询 -->
  <select id="queryPickRecords" parameterType="Map" resultMap="pickrecordinfomap">
  select * from cropBacktracking.pickRecord
  where pickSeg_btCode like '%${projectBtcode}%' 
  <if test="searchKey!='' and searchKey!=null">
  and(
  	pickTime like '%${searchKey}%' or
  	pickType like '%${searchKey}%' or
  	pickNum	like '%${searchKey}%' or
  	pickSeg_btCode like '%${searchKey}%' or
  	comment like '%${searchKey}%' or
  	grower like '%${searchKey}%' or
  	sowSeg_btCode like '%${searchKey}%'
  )
  </if>
  order by id limit #{startpage},#{rows}
  </select>
  
  <!-- get total count -->
  <select id="getPickRecordCount" parameterType="Map" resultType="Integer">
  select count(*) from cropBacktracking.pickRecord
  where pickSeg_btCode like '%${projectBtcode}%' 
  <if test="searchKey!='' and searchKey!=null">
  and(
  	pickTime like '%${searchKey}%' or
  	pickType like '%${searchKey}%' or
  	pickNum	like '%${searchKey}%' or
  	pickSeg_btCode like '%${searchKey}%' or
  	comment like '%${searchKey}%' or
  	grower like '%${searchKey}%' or
  	sowSeg_btCode like '%${searchKey}%'
  )
  </if>
  order by id 
  </select>
  
   <!-- 超级用户分页查询 -->
  <select id="queryMPickRecords" parameterType="Map" resultMap="pickrecordinfomap">
  select * from cropBacktracking.pickRecord
  where pickSeg_btCode like '${businessId}%' 
  <if test="searchKey!='' and searchKey!=null">
  and(
  	pickTime like '%${searchKey}%' or
  	pickType like '%${searchKey}%' or
  	pickNum	like '%${searchKey}%' or
  	pickSeg_btCode like '%${searchKey}%' or
  	comment like '%${searchKey}%' or
  	grower like '%${searchKey}%' or
  	sowSeg_btCode like '%${searchKey}%'
  )
  </if>
  order by id limit #{startpage},#{rows}
  </select>
  
  <!-- get total count -->
  <select id="getMPickRecordCount" parameterType="Map" resultType="Integer">
  select count(*) from cropBacktracking.pickRecord
  where pickSeg_btCode like '%${businessId}%' 
  <if test="searchKey!='' and searchKey!=null">
  and(
  	pickTime like '%${searchKey}%' or
  	pickType like '%${searchKey}%' or
  	pickNum	like '%${searchKey}%' or
  	pickSeg_btCode like '%${searchKey}%' or
  	comment like '%${searchKey}%' or
  	grower like '%${searchKey}%' or
  	sowSeg_btCode like '%${searchKey}%'
  )
  </if>
  order by id 
  </select>
  
</mapper>