<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbt.business.mapper.SowRecordInfoMapper">
	  <resultMap id="sowrecordinfomap" type="com.cbt.business.po.SowRecordInfo">
	    <id column="id" jdbcType="INTEGER" property="id" />
	    <result column="project_btCode" jdbcType="VARCHAR" property="projectBtcode" />
	    <result column="sowTime" jdbcType="DATE" property="sowtime" />
	    <result column="sowSeg_btCode" jdbcType="VARCHAR" property="sowsegBtcode" />
	    <result column="productName" jdbcType="VARCHAR" property="productname" />
	    <result column="seedSource" jdbcType="VARCHAR" property="seedsource" />
	    <result column="sowNum" jdbcType="INTEGER" property="sownum" />
	    <result column="comment" jdbcType="VARCHAR" property="comment" />
	    <result column="grower" jdbcType="VARCHAR" property="grower" />
	    <result column="sowLocation" jdbcType="VARCHAR" property="sowlocation" />
 	 </resultMap>
 	 <!--根据id查询一条数据  -->
 	 <select id="getSowRecordInfo"  parameterType="com.cbt.business.mapper.SowRecordInfoMapper" resultMap="sowrecordinfomap">
		select * from sowrecord where id=#{id}
	</select>
	
	<!--  -->
	 <select id="getSowRecordInfoBySowSeg_btCode"  parameterType="java.lang.String" resultMap="sowrecordinfomap">
		select * from sowrecord where sowSeg_btCode=#{value}
	</select>
	
	<!-- 查询所有数据 -->
	<select id="getAllSowRecordInfo" resultMap="sowrecordinfomap">
		select * from sowrecord
	</select>
 	 <!--插入一条数据  -->
 	 <insert id="addSowRecordInfo" parameterType="com.cbt.business.po.SowRecordInfo">
		insert into sowrecord
		(
			id,project_btCode,sowTime,sowSeg_btCode,productName,seedSource,sowNum,comment,grower,sowLocation
		)
		values
		(
			#{id},#{projectBtcode},#{sowtime},#{sowsegBtcode},#{productname},#{seedsource},#{sownum},#{comment},#{grower},#{sowlocation}
		)
	</insert>
	<!--删除一条数据  -->
	<delete id="delSowRecordInfo" parameterType="com.cbt.business.po.SowRecordInfo" >
    	delete from sowrecord
   		where id = #{id,jdbcType=INTEGER}
    </delete>
	
	
 	 <!-- 分页 -->
 	<select id="getPageSowRecords" parameterType="Map" resultMap="sowrecordinfomap">
  		select * from sowrecord 
 		 where 1=1 limit #{startrow},#{rows}
 	</select>
  
  
  
  <select id="getRecordsCount" parameterType="Map" resultType="int">
  select count(*) from sowrecord
  </select>
 	 
 	 
 	 
</mapper>