<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbt.business.mapper.WorkerInfoMapper">
	<resultMap type="com.cbt.business.po.WorkerInfo" id="workerinfomap">
		<result property="workerId" column="workerId"/>
		<result property="businessId" column="businessId" />
		<result property="workerNum" column="workerNum" />
		<result property="workerPwd" column="workerPwd" />
		<result property="roleId" column="roleId" />
		<result property="workerName" column="workerName" />
		<result property="workerPhone" column="workerPhone" />
		<result property="roleName" column="roleName"/>
	</resultMap>
	<!-- 根据workerNum查询一条数据-->
	<select id="getWorkerInfo" parameterType="com.cbt.business.po.WorkerInfo" resultMap="workerinfomap">
		select * from workerinfo where workerNum=#{workerNum} and workerPwd=#{workerPwd}
	</select>
	
	
	
	<!-- 根据workerNum查询一条数据-->
	<select id="getWorkers" parameterType="java.lang.Integer" resultMap="workerinfomap">
		select * from workerinfo where businessId=#{value}
	</select>
	
	<!-- 查询所有数据-->
	<select id="getAllWorkerInfo" resultMap="workerinfomap">
		select * from workerinfo 
	</select>
	
	<!--插入一条数据  -->
	<insert id="addWorkerInfo" parameterType="com.cbt.business.po.WorkerInfo">
		insert into workerinfo
		(
			workerId,businessId,workerNum,workerPwd,roleId,workerName,workerPhone,roleName
		)
		values
		(
			#{workerId},#{businessId},#{workerNum},#{workerPwd},#{roleId},#{workerName},#{workerPhone},#{roleName}
		)
	</insert>
	<!--根据workNum删除一条数据  -->
	<delete id="delWorkerInfo" parameterType="com.cbt.business.po.WorkerInfo">
		delete from workerinfo where workerNum=#{workerNum}
	</delete>


	 <!-- 分页 -->
 	<select id="getPageWorkers" parameterType="Map" resultMap="workerinfomap">
  		select * from workerinfo where businessId = #{businessId} limit #{startrow},#{rows}
 	</select>
 	<!-- 获取记录数量 -->
  	<select id="getWorkersCount" parameterType="java.lang.Integer" resultType="int" >
 		 select count(*) from workerinfo where businessId = #{value}
 	</select>
 	
 	
 	<select id="getWorkerInfoByWorkerId" parameterType="java.lang.Integer" resultMap="workerinfomap" >
 		 select * from workerinfo where workerId = #{value}
 	</select>
 	
 	<!-- 根据workerId 查询数据 -->
	<select id="queryByWorkerId" parameterType="com.cbt.business.po.WorkerInfo" resultType="com.cbt.business.po.WorkerInfo">
	select * from cropBacktracking.workerInfo
	where workerId=#{workerId}
	</select>
	
	  <!-- 通过businessId查询 -->
  <select id="queryByBusinessId" parameterType="com.cbt.business.po.WorkerInfo" resultMap="workerinfomap">
  select * from cropBacktracking.workerInfo
  where businessId=#{businessId}
  </select>
  
  	<update id="updateWorkerPwd" parameterType="com.cbt.business.po.WorkerInfo" >
    	update cropBacktracking.workerInfo set workerPwd = #{workerPwd} where workerNum = #{workerNum}
 	</update>
 	
 	

</mapper>