.mycontainer{

    text-align: center;
}

.modifyPasswd {
    width: 500px;
    height: 400px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -200px;
    margin-left: -250px;

}
.modifyPasswd .write{
    width: 250px;
    margin-top: 10%;
    font-size: 25px;
}