.row{
    margin-top: 3%;
}
.product-card{
    width: 100%;
    max-width: 365px;
    min-width: 185px;

    border: 1px solid rgba(190, 190, 190, 0.6);
    box-shadow: 0 0 5px rgba(146, 146, 146, 0.27);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 7px;
    overflow: hidden;

    text-align: center;
    margin-top: 3%;
    position: relative;
    height:265px;

}
.product-card h2{
    font-weight: 400;
}
.product-card img{
    width: 100%;
}

.product-info{
    -webkit-transition: top 0.4s;
    -moz-transition: top 0.4s;
    -ms-transition: top 0.4s;
    -o-transition: top 0.4s;
    transition: top 0.4s;
    position: absolute;
    top:200px;
    background: rgba(255,255,255,0.8);
    width:100%;
}

.shangyi{
    top:80px;
}



.p-hot{
    border: 1px solid #ff8b7a;
    border-radius: 3px;
    color: #ff8b7a;
}
.p-time{
    border: 1px solid #00d990;
    border-radius: 3px;
    color: #00d990;
}

