ul, li {
    list-style: none;
}

#waterfall {
    position: relative;
    /*margin: 0 auto;*/
}
#waterfall li {
    overflow: hidden;
    float: left;
    width: 380px;
    /*margin: 0 5px;*/
    background: white;
    border-radius: 7px;
}
#waterfall li:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
#waterfall li a {
    display: block;
}

#waterfall li h2{
    text-align: center;
    font-weight: 400;
}

#waterfall li p {
    padding: 0 10px;
    line-height: 25px;
    font-weight: 400;
}
#waterfall li img {
    display: block;
    /*max-width: 224px;*/
    max-width: 380px;
    height: auto;
    width: 380px;
}

#waterfall li .p-hot{
    margin-left: 10px;
    border: #ff8b7a 1px solid;
    border-radius: 3px;
    color:  #ff8b7a;

}
#waterfall li .p-time{
    margin-left: 10px;
    border: #00d990 1px solid;
    border-radius: 3px;
    color: #00d990;
}