
body{
    background-color: #f8f8f8;
}
/*topFrame*/

.btn-group {
    position: absolute;
}
.btn-group button{
    font-size: 16px;
    margin: auto;
    top: 6px;
}

/*logo*/
.navbar-header a{
    position: relative;
    margin-top: -18px;
}
.navbar-header a img{
    width: 45px;
}
.navbar-header {
    display: inline-block;
    white-space: nowrap;
}
.navbar-brand-name {
    display: inline-block;
    font-size: 20px;
    position:relative;
    margin-left: 50px;
    top: -45px;
}


/*search*/

.title{
    height: 200px;
    /*border: black 1px solid;*/

    /*position: fixed;*/
    width: 100%;
    margin-top: 52px;
    padding-top: 80px;
}
.search{
    line-height: 100px;
    text-align: center;
    top: 210px;
}
.search input{

    width: 36%;
    height: 38px;
    position: absolute;
    left: 30%;

    border: rgb(238, 238, 238) 1px solid;
    box-shadow: inset 2px 2px rgba(51, 51, 51, 0.23);

}
.search button{
    border: rgb(238, 238, 238) 1px solid;
    background-color: white;
    display: inline-block;
    position: absolute;
    left:67%;
}

.search span{
    font-size: 19px;
    color: #333333;
}


/*container*/
.container{
    /*background-color: red;*/
    margin-top: 100px;
}
.container a{
    text-decoration: none;
    color: #333333;
}
.comlist{
    background-color: white;
    border: lightgrey 1px solid;
    border-radius: 7px;

    margin-top: 2%;

    width: 100%;
}

.comlist h2{
    font-weight: 200;
    margin-left: 2%;
}
.com-card {
    margin-left: 2%;
    height: 100%;
}
.com-content{
    height: 100%;
}
.com-card .com-pic{
    display: block;
    float: left;
    width: 30%;
    height: 70%;
    border-radius: 7px;
    overflow: hidden;
}
.com-card .com-pic img{
    width: 100%;
    height: 100%;
}
.com-card .com-pic img:hover{
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
.com-card .com-p{
    display: block;
    float: right;
    width: 65%;
    margin-right: 2%;

    font-weight: 300;
    font-size: 16px;
}
.com-icon{
    font-size: 14px;
    text-decoration: none;
    margin-right: 2%;
    margin-top: -5%;
    float: right;
}
.com-icon .com-url{
    border: #ff8b7a 1px solid;
    border-radius: 3px;
    color:  #ff8b7a;
}
.com-icon .com-phone{
    border: #00d990 1px solid;
    border-radius: 3px;
    color: #00d990;
}
.com-icon .com-email{
    border: #ffba3e 1px solid;
    border-radius: 3px;
    color: #ffba3e;
}

.comlist:hover{
    box-shadow:1px 1px 1px 1px rgba(106, 106, 106, 0.35);
}

.clear:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
}


/*渚ц竟鏍忓皬鎸夐挳*/
.sorted{
    position: fixed;
    right: 20px;
    bottom: 30px;
    background: rgba(255, 255, 255, 0.7);
}



/**
涓ょ寰�腑闂寸Щ鍔� */
.left{
    position: relative;
    left: -2000px;
}

.right{
    position: relative;
    right: -2000px;
}



/**
淇敼瀵嗙爜
*/

#changeInfo {
    position: fixed;
    top: 120px;
    left: -100%;
    border: 1px solid #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background: white;
    padding: 15px 20px;
    z-index: 999;
}

#changeInfo>form{
    padding: 10px;
}

#changeInfo .need{
    color: red;
}
#changeInfo .control-group{
    margin: 15px;
    padding: 5px 10px;
    letter-spacing: 2px;
}
#changeInfo .control-group>label,
#changeInfo .control-group>div{
    display: inline-block;
}

#changeInfo .control-group div.btns{
    width:100%;
    text-align: center;
}

#changeInfo .control-group div.btns button:first-child{
    margin-right: 30px;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
}

