@charset "utf-8";

/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑", Arial, sans-serif;
}

img {
    border: none;
    vertical-align: middle;
}

.clear {
    clear: both;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

input {
    vertical-align: middle;
    outline: none;
}

textarea {
    outline: none;
    resize: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

a:visited {
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #79faff;
    text-decoration: none;
    outline: none;
}

.container {
    width: 720px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    background-color: #d3d3d3;
}

.img {
    position: relative;
}

.img img {
    width: 100%;
}

.box {
    margin: 10px;
    background-color: #fff;
    overflow: hidden;
}

.box .title {
    border-bottom: 1px solid #eee;
    line-height: 3;
    color: #193769;
    text-align: center;
    font-size: 22px;
}

.box .text {
    line-height: 2.5;
    font-size: 18px;
    overflow: hidden;
}

.box .text .left {
    color: #193769;
    margin: 0 20px;
    width: 80px;
    text-align: justify;
    text-align-last: justify;
    float: left;
}

.box .text .left:after {
    display: inline-block;
    content: '';
    overflow: hidden;
    width: 100%;
    height: 0;
}

.box .text .right {
    float: left;
    color: #818181;
    margin-left: 40px;
}

.box .titlehead {
    line-height: 3;
    font-size: 24px;
    padding: 0 10px;
    background-color: #1a763d;
    color: #fff;
}

.box .item {
    overflow: hidden;
    position: relative;
}

.box .item .line {
    position: absolute;
    left: 40px;
    border: 1px dotted #e4e4e4;
    height: 100%;
    width: 0;
    z-index: 0;
}

.box .item .circle {
    margin: 20px;
    width: 40px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    background-color: #fbc700;
    float: left;
    position: relative;
    z-index: 5;
}

.box .item .content {
    float: left;
    margin: 20px;
    font-size: 16px;
}

.box .item .content .date {
    font-weight: 700;
}

.box .item .content .txt {
    font-weight: 500;
}

.box .item .content .txt-line {
    font-weight: 500;
    line-height: 40px;
    font-size: 1.2rem;
}

.info {
    line-height: 2;
    margin: 20px 0 20px 20px;
}

.info .name {
    color: #1a763d;
    font-size: 22px;
}

.info .intro {
    font-size: 18px;
}

.tip {
    border-bottom: 1px solid #eee;
    line-height: 3;
    color: #ff8800;
    font-size: 22px;
    font-weight: bold;
    padding: 0 20px;
}


/*
 * 点击下拉处
*/

.box .item .content .hr {
    height: 1px;
    background: #ccc;
    width: 100%;
    margin: 10px auto 0;
}

.box .item .content .txt i {
    font-size: 18px;
}

.box .item .content .detail {
    margin: 10px 2px;
    display: none;
}

.box .item .content .detail .detail-item {
    margin: 8px auto;
    font-size: 1.2em;
}

.box .item .content .detail .detail-time {}

.box .item .content .detail .detail-text {
    margin-left: 10px;
    letter-spacing: 2px;
}