* {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    color: #444;
    text-decoration: none;
    padding: 5px 10px;
}

a:hover {
    color: #444;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);
}

#mainbody {
    background: url('../assets/img/backgrounds/register-bg2.jpg')
}

.navbar {
    height: 60px;
}

.container {
    width: 970px;
}

.panel {
    border-radius: 2px;
    border: 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12);
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    position: relative;
    height: 60px;
    line-height: 30px;
    color: inherit;
    padding: 10px 15px;
}

.navbar .navbar-brand img {
    display: inline-block;
}

.navbar .main-menu--item {
    display: inline-block;
    line-height: 60px;
    margin: 0 10px;
    padding: 0 8px;
    text-decoration: none;
}

.navbar .main-menu--item:hover {
    border-bottom: 2px solid #66f;
    background: rgba(0, 0, 0, 0.1);
}


/**
 *企业注册
 */

#regist {
    padding-top: 60px;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
}

#regist>form {
    padding: 10px;
}

#regist legend {
    font-size: 24px;
    padding: 10px 5px;
    padding-top: 30px;
}

#regist .need {
    color: red;
}

#regist .control-group {
    margin: 15px;
    padding: 5px 10px;
    letter-spacing: 2px;
}

#regist .control-group>label,
#regist .control-group>div {
    display: inline-block;
}

#registBtn {
    /*position: relative;*/
    width: 240px;
    /*left: 20px;*/
    text-align: center;
    display: block;
    margin: 0 auto;
}

#regist label.control-label {
    text-align: center;
    width: 120px;
}

#regist>p:last-child {
    padding: 25px;
}

#v_container {
    width: 240px;
    height: 50px;
    margin: 0 auto;
}