<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- 注解扫描器 -->
	<context:component-scan base-package="com"/>
	
	<!-- 配置试图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"/>
		<!--property name="suffix" value=".html"-->
		
	</bean>
	<!-- 从请求和响应读取/编写字符串 -->
	<bean id="stringHttpMessage" class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
			</list>
		</property>
	</bean>	
	<!-- 自定义参数日期绑定 -->
 	<bean id="conversionService"  class="org.springframework.format.support.FormattingConversionServiceFactoryBean">  
    	<property name="converters">  
       	 <list>  
            <!-- 进行日期的转换 -->  
            	<bean class="com.cbt.converter.DateConverter"/>  
        </list>  
  		</property>  
	</bean> 
	
	<!-- 配置datebinder -->
	<bean id="dateBinder" class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer" >
		<property name="conversionService" ref="conversionService">
		</property>
	</bean>
	
	
	<!-- 用于将对象转化为JSON -->
	<bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="stringHttpMessage"/>
				<ref bean="jsonConverter"/>
			</list>
		</property>	
		<property name="webBindingInitializer" ref="dateBinder">
		</property>	
	</bean>
	<import resource="classpath:beans.xml"/>
</beans>		