body {
    margin: 0;
    padding: 0;
}

.topFrame {
    position: fixed;
    z-index: 10;
}

.leftFrame1 {
    position: fixed;
    margin-top: 50px;
    z-index: 10;
    background-color: rgb(249, 249, 249);
    width: 200px;
    height: 100%;
}

/*.topSecondFrame {
    position: fixed;
    margin-top: 50px;
    margin-left: 200px;
    z-index: 10;
}*/

.myframe1 {
    position: absolute;
    top: 50px;
    left: 200px;
    height: 100%;
}

/**
ÐÞ¸ÄÐÅÏ¢
*/

#changeInfo {
    position: fixed;
    top: 120px;
    left: -100%;
    border: 1px solid #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background: white;
    padding: 15px 20px;
    z-index: 999;
}

#changeInfo>form{
    padding: 10px;
}

#changeInfo .need{
    color: red;
}
#changeInfo .control-group{
    margin: 15px;
    padding: 5px 10px;
    letter-spacing: 2px;
}
#changeInfo .control-group>label,
#changeInfo .control-group>div{
    display: inline-block;
}

#changeInfo .control-group div.btns{
    width:100%;
    text-align: center;
}

#changeInfo .control-group div.btns button:first-child{
    margin-right: 30px;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
}