<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbt.system.mapper.AdminInfoMapper">


	<resultMap type="AdminInfo" id="adminmap">
		<result property="adminName" column="adminName"/>
		<result property="adminPwd" column="adminPwd" />
	</resultMap>
	<!-- 查询用户信息 用于用户登录 -->
	<select id="getAdminInfo" parameterType="AdminInfo" resultMap="adminmap">
		select * from admininfo where adminNum=#{adminNum} and adminPwd=#{adminPwd}
	</select>
</mapper>