<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace="com.cbt.system.mapper.ProductPlanInfoMapper">
	<resultMap type="com.cbt.system.po.ProductPlanInfo" id="productPlanInfoMap">
		<id column="planId" property="planId" jdbcType="INTEGER"/>
		<result column="planName" property="planName" jdbcType="VARCHAR"/>
		<result column="planDesc" property="planDesc" jdbcType="VARCHAR"/>
		<result column="planUnit" property="planUnit" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!--分页查询所有生产计划  -->
	<select id="getPageProductPlanInfo" parameterType="Map" resultMap="productPlanInfoMap">
		select  * from product_planinfo 
		<if test="searchKey!='' and searchKey!=null">
		where
			planId like '%${searchKey}%' or
			planName like '%${searchKey}%' or
			planDesc like '%${searchKey}%' or
			planUnit like '%${searchKey}%' 
		</if>
		limit #{startrow},#{rows}
	</select>
	<!--获取计划数量  -->
	<select id="getProductPlanInfoCount" parameterType="Map" resultType="int">
		select count(*) from product_planinfo
		<if test="searchKey!='' and searchKey!=null">
		where
			planId like '%${searchKey}%' or
			planName like '%${searchKey}%' or
			planDesc like '%${searchKey}%' or
			planUnit like '%${searchKey}%' 

		</if>
	</select>
	
	<select id="getProductPlans" resultMap="productPlanInfoMap">
		select  * from product_planinfo
	</select>

	<!-- 添加新的生产计划模版 -->
	<insert id="insertNewProductPlan" parameterType="com.cbt.system.po.ProductPlanInfo">
	insert into product_planInfo(planName,planDesc,planUnit)
	values(#{planName},#{planDesc},#{planUnit})
	</insert>
	
	<!-- 删除生产计划 -->
	<delete id="deleteProductPlan" parameterType="com.cbt.system.po.ProductPlanInfo">
	delete from product_planInfo
	where planId=#{planId}
	</delete>
	
	<!-- 通过panUnit查询出生产计划id -->
	<select id="selectIdByPlanUnit" parameterType="String">
	select planId from productPlanInfo
	where planUnit=#{planUnit}
	</select>
	
	<!-- 查询出所有的生产计划 -->
	<select id="queryAllProductPlan">
	select * from productPlanInfo
	</select>
	
	<!-- 通过planId对某个生产计划进行修改 -->
	<update id="updatePlanById" parameterType="com.cbt.system.po.ProductPlanInfo">
		update product_planinfo  set planUnit=#{planUnit},planName=#{planName},planDesc=#{planDesc} where  planId=#{planId};
	</update>
</mapper>